.row {
    display: grid;
    padding: 20px 0;
    grid-template-columns: 
        repeat(auto-fit, minmax(150px, 1fr))    
    ;
    grid-gap: 20px;
}
.card {
    background-color: #fff;
    padding: 40px 30px;
    color: rgb(31, 31, 31);
}
.card h1 {
    font-size: 40px;
    font-weight: 500;
    color: orangered;
}
